.App {
  font-family: monospace;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
}

.cell {
  /* width: 10px;
    height: 10px; */
  border: 1px dashed #d8d8d8;
}
